@using Admin.Helpers;
@model Admin.Models.ProductSearch
@{
    string PurchasOrderName = "";
    if (Request.QueryString["PurchasOrderName"] != null)
    {
        PurchasOrderName = Request.QueryString["PurchasOrderName"];
        Model.PurchasOrderName = PurchasOrderName;
    }
    else
    {
        PurchasOrderName = Model.PurchasOrderName;
    }
    ViewData["Title"] = "Add Products to " + PurchasOrderName + "  (Purchase Order)";
    ViewData["Active"] = "Purchase Orders";
    string PurchasOrderId = Url.RequestContext.RouteData.Values["id"].ToString();

    MenuItem mi = new MenuItem();
    mi.URL = "Index";
    mi.Name = "Purchase Orders - List";
    mi.UserIdentity = User.Identity.Name;
    HtmlHelpers.topMenuList.Clear();
    HtmlHelpers.topMenuListAdd(mi);
    Account a = new Account();
    List<Admin.Models.Menu> mlist = a.AccessMenu(User.Identity.Name);
    ViewData["mlist"] = mlist;
}
@if (mlist.Where(u => u.MenuId.ToString().ToUpper() == Utilities.Menu_Purchase_Orders).FirstOrDefault() != null)
{
    using (Html.BeginForm("ProductSearch", "PurchasOrder", FormMethod.Get))
    {
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                        <div class="input-icon right">
                            <i class="fa fa-archive"></i>@Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UPC_code, htmlAttributes: new { @class = "control-label" })
                        <div class="input-icon right">
                            <i class="fa fa-archive"></i>@Html.EditorFor(m => m.UPC_code, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <input type="submit" value="Search" name="action" class="btn btn-blue" />
                    @Html.ActionLink("Back", "Create", "PurchasOrder", new { Id = PurchasOrderId }, new { @class = "btn btn-green" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.PurchasOrderName)
        <input type="hidden" name="Search" id="Search" value="true" />
    }
    using (Html.BeginForm("ProductAdd", "PurchasOrder", FormMethod.Post, new { @class = "form-horizontal form-seperated form-row-stripped" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body pan">
            <div class="portlet box">
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-12">
                            <div style="width: auto; height: auto; max-height:500px; overflow: scroll;">
                                <div class="table-responsive">
                                    <table id="table_id"
                                           class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                        <thead>
                                            <tr>
                                                <th style="width: 3%; padding: 10px; background: #efefef">
                                                    <input type="checkbox" class="checkall" />
                                                </th>
                                                <th>Product Name</th>
                                                <th>UPC Code</th>
                                                <th>Customer Name</th>
                                                <th>Qty</th>
                                                <th>Date</th>
                                                <th width="10%">Status</th>
                                            </tr>
                                        <tbody>
                                            @foreach (var item in Model.Products)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.CheckBoxFor(modelItem => item.IsAllow)
                                                        @Html.HiddenFor(modelItem => item.ProductId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UPC_code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OrderQty)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OrderDate)
                                                    <td>
                                                        @if (item.StatusId.ToString() == Utilities.Status_Active)
                                                        {
                                                            <span class="label label-sm label-success">@Html.DisplayFor(modelItem => item.myStatus)</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-sm label-danger">@Html.DisplayFor(modelItem => item.myStatus)</span>
                                                        }
                                                    </td>
                                                    @Html.HiddenFor(modelItem => item.CustomerId)
                                                    @Html.HiddenFor(modelItem => item.OrderId)
                                                    @Html.HiddenFor(modelItem => item.OrderDetailId)
                                                </tr>
                                            }
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            @if (Model.count > 0)
                            {
                                if (Model.page > 1)
                                {
                                    <input type="submit" value="Back" name="action" class="btn btn-orange" />
                                }
                                @:
                                    if (Model.count == 500)
                                {
                                    <input type="submit" value="Next" name="action" class="btn btn-orange" />
                                }
                            }
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Url.RequestContext.RouteData.Values["id"]" name="PurchasOrder" />
                <input type="hidden" value="@Model.count" name="count" />
                <input type="hidden" value="@Model.page" name="page" />
                <div class="form-actions text-right pal">
                    @if (Model.Search)
                    {
                        <input type="submit" value="Add Products" name="action" class="btn btn-primary" />
                    }
                    @Html.ActionLink("Back", "Create", "PurchasOrder", new { Id = PurchasOrderId }, new { @class = "btn btn-green" })
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




