@using Admin.Helpers;
@model Admin.Models.ProductSearch
@{
    ViewData["Title"] = "Product Stock Info";
    ViewData["Active"] = "Product";
    MenuItem mi = new MenuItem();
    mi.URL = "Index";
    mi.Name = ViewData["Title"].ToString();
    mi.UserIdentity = User.Identity.Name;
    HtmlHelpers.topMenuListAdd(mi);
    Account a = new Account();
    List<Admin.Models.Menu> mlist = a.AccessMenu(User.Identity.Name);
    ViewData["mlist"] = mlist;
}
@if (mlist.Where(u => u.MenuId.ToString().ToUpper() == Utilities.Menu_Product).FirstOrDefault() != null)
{
    using (Html.BeginForm("ProductStockInfo", "Products", FormMethod.Get))
    {   
        <div class="form-body pal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                        <div class="input-icon right">
                            <i class="fa fa-archive"></i>@Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UPC_code, htmlAttributes: new { @class = "control-label" })
                        <div class="input-icon right">
                            <i class="fa fa-archive"></i>@Html.EditorFor(m => m.UPC_code, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                 <div class="form-actions text-right pal">
                    <input type="submit" value="Search" name="action" class="btn btn-blue" />
                </div>
            </div>
        </div>
        <input type="hidden" name="Search" id="Search" value="true" />
    }
    using (Html.BeginForm("ProductAdd", "Products", FormMethod.Post, new { @class = "form-horizontal form-seperated form-row-stripped" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body pan">
            <div class="portlet box">
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-12">
                            <div style="width: auto; height: auto; max-height:500px; overflow: scroll;">
                                <div class="table-responsive">
                                    <table id="table_id"
                                           class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                        <thead>
                                            <tr>
                                                <th>UPC Code</th>
                                                <th>Product Name</th>
                                                <th>Product Stock</th>
                                                <th>Max Stock</th>
                                                <th>Min Stock</th>
                                                <th>Unit In Stock</th>
                                                <th>Unit On Order</th>
                                                <th>Unit On Reminder</th>
                                                <th>Qty Manual Reserved</th>
                                                <th>Qty Reserved</th>
                                            </tr>
                                        <tbody>
                                            @foreach (var item in Model.Products)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UPC_code)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProductStock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MaxStock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MinStock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitInStock)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitOnOrder)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitOnReminder)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QtyManualReserved)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QtyReserved)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            @if (Model.count > 0)
                            {
                                if (Model.page > 1)
                                {
                                    <input type="submit" value="Back" name="action" class="btn btn-orange" />
                                }
                                @:
                                    if (Model.count == 500)
                                {
                                    <input type="submit" value="Next" name="action" class="btn btn-orange" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <input type="hidden" value="@Model.count" name="count" />
            <input type="hidden" value="@Model.page" name="page" />
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


