@using Admin.Helpers;
@model Admin.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Active"] = "Profile";
    Account a = new Account();
    List<Admin.Models.Menu> mlist = a.AccessMenu(User.Identity.Name);
    ViewData["mlist"] = mlist;
}
@if (mlist.Where(u => u.MenuId.ToString().ToUpper() == Utilities.Menu_Dashboard).FirstOrDefault() != null)
{
    <div class="page-content">
        <div id="page-user-profile" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs ul-edit responsive">
                            <li class="active">
                                <a href="#tab-edit" data-toggle="tab">
                                    <i class="fa fa-edit"></i>&nbsp;
                                    Edit Profile
                                </a>
                            </li>
                        </ul>
                        <div id="generalTabContent" class="tab-content">
                            <div id="tab-edit" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            <div id="tab-account-setting" class="tab-pane fade in active">
                                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken();
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.Code)
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                                                        <div class="col-sm-9 controls">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                                                        <div class="col-sm-9 controls">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                                                        <div class="col-sm-9 controls">
                                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group mbn">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 controls">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fa fa-save"></i>&nbsp;
                                                                Save
                                                            </button>
                                                            &nbsp; &nbsp;<a href="#"
                                                                            class="btn btn-default">Cancel</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>
                                                <a href="~/Account/Profile">
                                                    <i class="fa fa-folder-open"></i>&nbsp;
                                                    Profile Setting
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="~/Account/ResetPassword" >
                                                    <i class="fa fa-cogs"></i>&nbsp;
                                                    Account Setting
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}